html, body {
    /* width: 1200px;
    height: 800px;
    max-width: 100%;
    max-height: 100%; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f0f0f0;
}


.mainparent {
    display: flex;
    width: 100%;
    margin:0;
    padding:0;
    border:0;
}


/* Child Element of main parent */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 8.5;
    /* position: relative; */
    /* width: 80%; */
    /* border: 1px solid red; */
    box-sizing: border-box;
    /* position: relative; */
    /* display: flex; */
    /* max-width: 600px; */
    /* margin: 50px auto; */

    /* align-items: center; */
    /* padding: 20px; */
    /* padding-top: 0; */
    border-radius: 15px;
    background-color: #fff;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.top-nav {
    /* border: 1px solid red; */
}

#sendbutton img {
    display: none;
}


/* Child Element of main parent */
.sidebar {
    flex: 1.5;
    /* padding-left:5px; */
    /* position: absolute; */
    top: 0px;
    left: 0px;
    width: 20.00%;
    /* float: left; */
    height: 100vh;
    background-color: #EEECEC;
    color: black;
    /* padding-top: 20px; */
    /* position: fixed; */
}

.searchbar {
    display: flex;
    /* padding: 100 px; */
    width: 600px;
    border-radius: 40px;
    background-color: #F7F4F4;
    border-color: #F7F4F4;
    height: 30px;
    padding: 15px;
    /* box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1); */
    /* border: 1px solid blue; */
    /* border-radius: 15px; */s
    /* width: 100.00%; */
    /* width: 500px */
    /* text-align: center; */
}

/* button {
    width:5%;
    padding: 10px 20px;
    background-color: #545454;
    color: #fff;
    border: 1px solid red;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
} */

/* button:hover {
    background-color: #2980b9;
} */

.searchInput {
    flex: 1;
    font-weight: 600;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 15px;
    border: 2px solid #3498db;
    color: black;
    outline: none;
    border-radius: 20px;
    background-color: #F7F4F4;
    border-color: #F7F4F4;
    box-sizing: border-box;
}

.logo img {
    display: block;
    margin: 0 auto;
    width: 80px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

.menu {
    list-style: none;
    /* padding:10px; */
    padding-left:30px;
    /* padding: 20; */
    margin-top: 20px;
    /* border: 1px solid red; */
    border-radius: 1px;
}
  
.menu li {
    /* margin:0; */
    padding-top: 15px;
    padding-bottom: 15px;
    /* padding-left: 25px; */
    text-align: left;
    font-weight: bold;
    /* border: 1px solid green; */
}

/* Apply styling when a list item is selected by clicking */
/* .menu-button:active {
    background-color: darkslategray; 
  } */

  /* Apply styling when a list item is selected by keyboard navigation */
/* .menu-button:focus {
    background-color: green; /* Set the background color for selected state */
  /* } */

.menu-button:hover {
    /* background-color: yellow; Set the background color for hover state? */
    cursor: pointer; /* Change the cursor to indicate interactivity */
  }

li img {
    max-width: 100%; /* Set maximum width to 100% of the container */
    max-height: 20px; /* Set maximum height to a specific value */
    margin-right: 10px;
    align-items: center;
    margin-right: 5px; /* Optional: Add margin between image and text */
}


.menu-button {
    border: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    padding: 0;
    align-items: left;
    text-decoration: none;
    /* padding-left: 20px; */
    font-size: 18px;
    color: darkslategray;
    /* border: 1px solid blue; */
    font-weight: 500;
}


.menu-button img{
    margin-right: 8px;
    width: 25px; /* Set your desired width */
    height: 25px; /* Set your desired height */
}


.menu a {
    display: flex;
    padding: 0;
    align-items: left;
    color: darkslategray;
    /* border: 1px solid blue; */
    font-weight: 600;
    text-decoration: none;
}

.content {
    margin-left: 220px; /* Adjust to accommodate the sidebar width */
    padding: 20px;
}


/*
.clear-button {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ccc;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    line-height: 1;
}
*/

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    text-align: center;
    
}

.centered-image {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

.image-button {
    display: flex;
    margin: 0;
    padding: 0;
    /* padding: 10px 20px; */
    /* background-color: #3498db; */
    /* color: #fff; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: inherit;
    align-items: center;
    justify-content: center;
}

button img {
    max-width: 100%;
    max-height: 100%;
}



#searchResults {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0;
}

#searchResults li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}


/* Customize the appearance of the scrollbar (optional) */
::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

/* This is the gray translucent overlay */
.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
}

/* This is the popup overlay for settings */
.popup-content {
    display: flex;
    background-color: white;
    position: relative;
    border-radius: 12px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    margin: 10% auto;
    padding: 20x;
    /* border: 1px solid #888888; */
    width: 40%;
    height: 300px;
    font-weight: bolder;
}
.popup-content button {
    display: block;
    margin: 0 auto;
}
.show {
    display: block;
}


.settings-tab-content-container {
    flex-grow: 1;
    padding: 20px;
    /* flex: 2; */
    overflow: hidden;
    /* background-color: blue; */
}

.settings-tab-header {
    flex: 0 0 25%;
    padding: 0px;
    margin: 0px;
    min-width: 150px;
    max-width: 250px;
    /* background-color: red; */
    overflow: auto;
    /* border-right: 1px solid lightgrey; */
    align-items: left;
    /* background-color: red; */
}

.settings-tab-header-item{
    display: flex;
    user-select: none;
    flex-direction: row;
    margin: 0px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 15px;
    font-weight: 600;
    border-radius: 15px;
    position: relative;
    align-items: center;
    justify-content: left;
}
.selected {
    background-color: lightgrey; /* Add your selected styles here */
}

.settings-tab-header-item:active{
    background-color: darkslategray;
}

.settings-tab-header-item img {
    max-width:20px; 
    height: 20px; 
    /* margin-top: 10px;  */
    padding-right: 8px;
}

/* .settings-tab-header-item:hover{
    background-color: lightgrey;
} */

.settings-tab-header-item:not(.selected):hover {
    background-color: #F6F4F4; /* Hover color for non-selected items */
}

div {
    display: block;
}

.settings-tab-header-group-items {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    /* background-color: red; */
}

.settings-container {
    flex: 8;
    display: flex;
    margin: 20px;
    /* background-color: #333; */
}

.close-button {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 26px;
    height: 26px;
    /* position: fixed; */
    /* flex: 2; */
    /* top: 10px;
    right: 10px; */
    /* position: relative; */
    /* right: 10px; */
    position: absolute;
    top: 15px; /* Adjust top position as needed */
    right: 15px;
    /* padding: 10px; */
    /* background-color: #333; */
    border-radius: 20px;
    /* background-color: blue; */
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.close-button img{
    display: flex;
    max-width: 100%; 
    max-height: 100%;
}


.close-button:hover{
    background-color: lightgrey;
    border-radius: 20px;
}

.settings-parent {
    display: flex;
    flex-direction: column;
}

.settings-header {
    /* background: blue; */
    /* flex: 1; */
    font-size: 25px;
    color: darkslategrey;
    padding-left: 30px;
    padding-top: 30px;
}


.popup:target {
    display: block;
    opacity: 1;
    visibility: visible;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    background-color: green;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    pointer-events: none; /* Allow clicks to pass through initially */
}

.overlay:target {
    display: block;
    opacity: 1;
    visibility: visible;
    pointer-events: auto; /* Enable clicks on the overlay */
}